.task-container {
  padding: 4px;
}

.task-content {
  border: 1px solid blue;
  border-radius: 7px;
  padding: 16px;
  font-size: 12px;
  font-weight: bold;
}

.task-name {
  border-bottom: 1px dashed var(--black20);
  padding-bottom: var(--padglobal);
}

.task-progress_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--padglobal);
}

.task-progress_graph {
  display: flex;
  width: 150px;
  height: 7px;
  background: green;
  border-radius: 7px;
}

.progress-color {
  height: 7px;
  position: absolute;
  background: red;
  border-radius: 7px;
}
