.main-container {
  padding: var(--padglobal);
  padding-left: 24px;
  padding-top: 24px;
  height: 100vh;
}

.main-content {
  height: 100%;
  overflow-x: scroll;
}

.main-board {
  display: flex;
  padding: var(--padglobal);

  border-radius: 10px;
}
