.board-comp {
  padding-top: 24px;
  padding-left: var(--padleft);
}

.board-container {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 390px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  transition: 0.2s;
}

.board-group {
  border-radius: 7px;
  padding: 5px;
  margin-bottom: 12px;
  min-width: 24px;
  width: 20%;
  align-items: center;
  font-weight: bolder;
}

.g1 {
  border: 1px solid 'red';
}

.g2 {
  border: 1px solid 'green';
}
