.board-comp {
  padding-top: 24px;
  padding-left: var(--padleft);
}

.board-container {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  transition: 0.2s;
}

.board-group {
  border-radius: 12px;
  padding: 5px;
  margin-bottom: 12px;
  min-width: 24px;
}

.g1 {
  border: 1px solid 'red';
}

.g2 {
  border: 1px solid 'green';
}
