.board-container {
  padding: var(--padglobal);
  width: 100%;
}

.board-content {
  border: 1px solid red;
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 350px;
  height: auto;
  width: 270px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: var(--border5);
}

.board-title {
  border: 1px solid red;
  border-radius: var(--border5);
  width: 100px;
  min-width: 50px;
  padding: 4px;
  margin-bottom: 16px;
  font-weight: bolder;
  font-size: 12px;
  display: flex;
  justify-content: center;
}

.board-desc {
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 16px;
}

.new-task {
  padding-top: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.new-task i {
  padding-right: 8px;
}
